*.egg-info*
*package.json
*.html
*for_later
.for_later
.for_later/
bin/		include/	lib/		pyvenv.cfg
for_later*
.idea*
pvm external
*__pycache__*
pvm 
external
external/
pvm/
*.egg-info
package.json
.venv/
*.js
*.css
