pyaml
executing
ipython
isodate
jedi
Jinja2
jsonpickle
MarkupSafe
matplotlib-inline
networkx
parso
pexpect
prompt_toolkit
ptyprocess
pure_eval
Pygments
pyparsing
pyvis
rdflib
six
stack-data
traitlets
typing_extensions
wcwidth
mnemonic
git+https://github.com/H2020-OpenModel/OMIKB-toolbox.git
wget
